# compiled output
/dist
**/dist
/node_modules
**/node_modules
.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.awcache
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

app/apps/app/src/environments/environments.ts


# compiled output
tmp
/out-tsc

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log
testem.log
/typings

# angular
.angular
apps/app/src/environments/environments.ts
/test-results/
/playwright-report/
/playwright/.cache/
