@import '~@mdi/font/css/materialdesignicons.min.css';

body,
body [class^='mat-'],
body [class*=' mat-'] {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  display: flex;

  .material-icons {
    font-family: 'Material Icons' !important;
  }

  app-root {
    display: block;
    width: 100%;
    height: 100%;
  }
}

a {
  text-decoration: none;
}

hr {
  width: 100%;
  margin: 20px 10px;
  border-color: grey;
}

button {
  cursor: pointer !important;

  &.mdi-button-icon {
    display: flex;

    > i {
      align-items: center;
      justify-content: center;
      padding-right: 5px;
    }
  }
}

.transparent {
  background-color: transparent !important;
}

.sidebar .sidebar-wrapper {
  padding-bottom: 30px;
}

.mdi-36px {
  font-size: 36px;
}

.mdi-disabled {
  color: rgba(0, 0, 0, 0.54) !important;
}

.fill {
  display: flex;
  flex: 1;
}

.no-selection {
  user-select: none;
}
